body {
  background: #000;
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}
.mazius {
  font-family: "Lora", serif;
  font-style: italic;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #000;
}

.animated-line {
  opacity: 0;
  transform: translateY(30px);
}

.img-box {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Fixed Left Side on Desktop */
@media (min-width: 1024px) {
  .sticky-content {
    position: sticky;
    top: 10vh;
    height: 80vh;
  }
}
