.fs-menu-btn {
  position: fixed;
  z-index: 1000;
  top: 30px;
  right: 100px;
  cursor: pointer;
  letter-spacing: 5px;
  font-weight: bold;
}

.fs-menu-btn:hover span:nth-child(2) {
  width: 70px;
}

.fs-menu-btn:hover span:nth-child(3) {
  width: 65px;
  margin-right: -10px;
}

#fir {
  display: block;
  margin: 5px 0;
  background: black;
  width: 85px;
  height: 5px;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.fs-menu-btn span {
  display: block;
  margin: 5px 0;
  background: black;
  width: 65px;
  height: 5px;
  transition: 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.fs-menu-btn span:nth-child(3) {
  width: 40px;
  transition-delay: 0.1s;
}